@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

@font-face {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

*:focus{
  outline: none;
}
:root {
  --input-color: #6c63ff;
  --button: #6c63ff;
  font-family: "Kanit", sans-serif;
  font-size: 10px;
}
